.employee-name {
  font-size: 25px;
  color: rgb(74, 74, 74);
  font-weight: 500;
}

.employee-profile {
  font-weight: 600;
  color: rgb(74, 74, 74);
}

.resume-personal-profile-link {
  text-decoration: none;
  font-size: 13px;
}

.resume-link-seprator {
  color: rgb(74, 74, 74);
}

/*  */

.summary-font-icon {
  height: 5px;
  width: 5px;
  color: rgb(74, 74, 74);
  margin-right: 10px;
}

.resume-summary-list {
  position: relative;
}

.resume-summary-list-close-icon {
  position: absolute;
  right: 10px;
  height: 23px;
  width: 23px;
  font-size: 23px;
  color: rgb(255, 92, 92);
  cursor: pointer;
}

.resume-summary-list-edit-icon {
  position: absolute;
  right: 40px;
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: #000042;
  cursor: pointer;
}

.add-in-resume-btn {
  height: 40px;
  border: none;
  padding: 0px 10px;
  color: rgb(74, 74, 74);
  margin-bottom: 5px;
}

/*  */

.employee-company-name {
  font-size: 13px;
  font-weight: 600;
}

.employee-job-profile {
  font-size: 12px;
  font-weight: 600;
}

.employee-job-info {
  font-size: 13px;
}

.heading {
  font-size: 12px;
  font-weight: 600;
}

.sub-heading {
  font-size: 14px;
}

.content {
  font-size: 12px;
}
